<?xml version="1.0"?>
<tools>
	<extensions>
		<extension name="GitExtension" path="GitExtension.psm1" />
		<extension name="VSTSExtension" path="VSTSExtension.psm1" />
	</extensions>
  <content>
    <contentFolder>Runtime</contentFolder>
  </content>
  <nuget>
    <source>https://pkgs.dev.azure.com/epsdev/_packaging/EpsNuGet/nuget/v3/index.json</source>
    <pushSource>https://pkgs.dev.azure.com/epsdev/_packaging/EpsNuGet/nuget/v3/index.json</pushSource>
    <pushTimeout>900</pushTimeout>
    <apiKey>AzureDevOps</apiKey>
  </nuget>
</tools>
