<?xml version="1.0"?>
<tools>
    <extensions>
        <extension name="GitExtension" path="GitExtension.psm1" />
        <extension name="VSTSExtension" path="VSTSExtension.psm1" />
    </extensions>
    <nuget>
		<source>https://pkgs.dev.azure.com/epsdev/_packaging/EpsNuGet/nuget/v3/index.json</source>
		<pushTimeout>900</pushTimeout>
		<apiKey>AzureDevOps</apiKey>
    </nuget>
</tools>
