<?xml version="1.0"?>
<package>
  <deployChannels>
    <deployChannel name="UAT" targetServerName="10.4.8.61" />
    <deployChannel name="PROD" targetServerName="WCSQL11\WCSQLDB11" />
    <deployChannel name="DEV" targetServerName="(localdb)\ecentric" />
  </deployChannels>
  <paths>
    <dbPath>Databases</dbPath>
    <ssasPath>Runtime\SSAS</ssasPath>
    <configPath>Runtime\Config</configPath>
  </paths>
  <databases>
    <database name="Ecentric.PNP.ReconAssistPlus.Retail.AuthentDB" />
    <database name="Ecentric.PNP.ReconAssistPlus.Retail.IrisDB" />
    <database name="Ecentric.PNP.RAP.Retail.NotificaitonsDB" />
    <database name="Ecentric.PNP.ReconAssistPlus.Retail.StagingDB" />
    <database name="Ecentric.PNP.RAP.Retail.ExportManagerDB" />
    <database name="Ecentric.PNP.ReconAssistPlus.Retail.ReconDB" />
    <database name="Ecentric.PNP.ReconAssistPlus.Retail.ReconDB" parameters="'/TargetServerName:`&quot;$targetServerName`&quot;,/TargetDatabaseName:`&quot;ReconAssistPlusVAS`&quot;'" />
  </databases>
  <cubes>
    <cube name="Ecentric.Recon.EFT.SSASCube"
          folder="Recon EFT"
          databaseName="Retail Recon EFT"
          deploymentError="Deploying EFT SSAS database failed" />
    <cube name="Ecentric.Recon.VAS.SSASCube"
          folder="Recon VAS"
          databaseName="Retail Recon VAS"
          deploymentError="Deploying VAS SSAS database failed" />
    <cube name="Ecentric.ReconAssistPlus.FeeSSASDB"
          folder="Recon Fee"
          databaseName="Retail Recon Fee"
          deploymentError="Deploying Fee SSAS database failed" />
  </cubes>
</package>