<?xml version="1.0"?>
<package>
  <metadata>
    <id>PackageName</id>
    <version>1.0.27</version>
    <authors>joglethorpe</authors>
    <owners>Developers</owners>
    <projectUrl>https://git-container</projectUrl>
    <requireLicenseAcceptance>false</requireLicenseAcceptance>
    <description>Description</description>
    <releaseNotes>Initial release</releaseNotes>
    <copyright>Copyright 2019</copyright>
    <tags></tags>
	<releaseFolder>Release</releaseFolder>
	<binaryReleaseFolder>Release\lib</binaryReleaseFolder>
	<databaseReleaseFolder>Release\Databases</databaseReleaseFolder>
	<includeBinary>False</includeBinary>
	<includeContent>True</includeContent>
	<clear>True</clear>
    <projects>
      <netProject>Project1</netProject>
      <netProject>Project2</netProject>
      <dbProject>PackageName.DatabaseName</dbProject>
    </projects>
  </metadata>
</package>
