<?xml version="1.0"?>
<configuration>
  <nugetOptions>
    <add key="contentFolders" value="" />
    <add key="majorVersion" value="0" />
    <add key="minorVersion" value="2" />
  </nugetOptions>
  <nugetSettings>
    <add key="copyright" value="Copyright 2017" />
    <add key="projectUrl" value="https://epsdev.visualstudio.com/Backoffice" />
    <add key="id" value="NugetDbPackerDb.Root" />
    <add key="releaseNotes" value="First testing release" />
    <add key="description" value="NugetDbPackerDb.Root" />
    <add key="authors" value="JOglethorpe" />
    <add key="version" value="0.2.24" />
    <add key="owners" value="Ecentric Payment Systems" />
  </nugetSettings>
  <nugetDependencies>
    <add key="NuGetDbPacker" value="0.1.213" />
  </nugetDependencies>
</configuration>
